In [24]:
from zipfile import ZipFile
zip = ZipFile('Resources/archive.zip')
zip.extractall('Resources')

In [25]:
import pandas as pd
import hvplot.pandas
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

## Read In CSV data for Mutual Fund prices A-Z

In [26]:
#Read in CSV data 
#MutualFund prices A-E
df_AE= pd.read_csv(
    Path("Resources/MutualFund Prices - A-E.csv")
)
df_AE.head()

  fund_symbol  price_date  nav_per_share
0       AAAAX  2007-07-31          10.02
1       AAAAX  2007-08-01           9.98
2       AAAAX  2007-08-02          10.01
3       AAAAX  2007-08-03           9.90
4       AAAAX  2007-08-06           9.93

In [27]:
#Read in CSV data 
#MutualFund prices F-K
df_FK= pd.read_csv(
    Path("Resources/MutualFund Prices - F-K.csv")
)
df_FK.head()

  fund_symbol  price_date  nav_per_share
0       FAAAX  2013-11-20          10.08
1       FAAAX  2013-11-21          10.13
2       FAAAX  2013-11-22          10.17
3       FAAAX  2013-11-25          10.18
4       FAAAX  2013-11-26          10.20

In [28]:
#Read in CSV data 
#MutualFund prices L-P
df_LP= pd.read_csv(
    Path("Resources/MutualFund Prices - L-P.csv")
)
df_LP.head()

  fund_symbol  price_date  nav_per_share
0       LAACX  2013-09-03          10.00
1       LAACX  2013-09-04          10.05
2       LAACX  2013-09-05           9.99
3       LAACX  2013-09-06          10.06
4       LAACX  2013-09-09          10.15

In [29]:
#Read in CSV data 
#MutualFund prices Q-Z
df_QZ= pd.read_csv(
    Path("Resources/MutualFund Prices - Q-Z.csv")
)
df_QZ.head()

  fund_symbol  price_date  nav_per_share
0       QAACX  2003-02-12          10.03
1       QAACX  2003-02-13          10.03
2       QAACX  2003-02-14          10.18
3       QAACX  2003-02-18          10.35
4       QAACX  2003-02-19          10.28

In [30]:
#Concatonate dataframes
mutual_fund_df= pd.concat([df_AE,df_FK,df_LP,df_QZ])
mutual_fund_df.shape

(75657739, 3)

In [31]:
mutual_fund_df.dtypes

fund_symbol       object
price_date        object
nav_per_share    float64
dtype: object

In [33]:
mutual_fund_df["price_date"]=pd.to_datetime(mutual_fund_df['price_date'])

In [34]:
mutual_fund_df.dtypes

fund_symbol              object
price_date       datetime64[ns]
nav_per_share           float64
dtype: object

# Read in Mutual Fund informaiton csv

In [35]:
#Read in CSV data 
#MutualFunds
mutualFunds= pd.read_csv(
    Path("Resources/MutualFunds.csv")
)
mutualFunds.head()

,fund_symbol,quote_type,region,fund_short_name,fund_long_name,currency,initial_investment,subsequent_investment,fund_category,fund_family,...,peer_environment_avg,peer_environment_max,social_score,peer_social_min,peer_social_avg,peer_social_max,governance_score,peer_governance_min,peer_governance_avg,peer_governance_max
0,AAAAX,MutualFund,US,DWS RREEF Real Assets Fund - Cl,DWS RREEF Real Assets Fund - Class A,USD,1000.0,50.0,World Allocation,DWS,...,5.05,10.58,7.43,5.98,9.07,11.30,5.43,4.26,7.14,8.11
1,AAAEX,MutualFund,US,AllianzGI Health Sciences Fund,Virtus AllianzGI Health Sciences Fund Class P,USD,1000000.0,NaN,Health,Virtus,...,1.43,3.27,12.96,9.52,12.87,15.08,8.40,4.96,7.68,10.30
2,AAAFX,MutualFund,US,NaN,American Century One Choice Blend+ 2015 Portfo...,USD,2500.0,50.0,Target-Date 2015,American Century Investments,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAAGX,MutualFund,US,Thrivent Large Cap Growth Fund,Thrivent Large Cap Growth Fund Class A,USD,2000.0,50.0,Large Growth,Thrivent Funds,...,2.70,5.81,10.13,7.25,10.14,11.97,8.03,5.30,7.54,8.90
4,AAAHX,MutualFund,US,NaN,American Century One Choice Blend+ 2015 Portfo...,USD,5000000.0,NaN,Target-Date 2015,American Century Investments,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mutualFunds.head

In [ ]:
# Remove unnecisary columns